<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
    "></script>
    <link href="
    https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
    " rel="stylesheet">
    <title>Iniciar Jornada</title>
    <link rel="icon" href="/img/iconeSite.png">
</head>

<body>
    <section>
        <img src="../img/professorCarvalho.webp" class="img-professor" id="img_professor">

        <div class="caixa-dialogo" id="caixa_dialogo">
            <h1 class="nome-professor">Professor Carvalho</h1>

            <p id="fala_professor" class="fala-professor">
                <span id="frase1"></span> <br> <br>
                <span id="frase2"></span> <br> <br>
                <span id="frase3"></span> <br>
                <span id="frase4"></span> <br> <br>
                <span id="frase5"></span> <br>
                <span id="frase6"></span>
            </p>

            <button id="botao_cadastro" class="botao-cadastro">
                Fazer cadastro
            </button>
        </div>
    </section>

    <section>
        <div class="caixa-cadastro" id="caixa_cadastro">
            <h1 class="titulo-cadastro">Cadastro</h1>
            <form class="formulario" id="fomulario_cadastro">
                <span class="titulos-email">Email</span>
                <input class="inputs-formulario" id="ipt_email" type="email" placeholder="Insira o seu email" required>
                <span class="titulos-senha">Senha</span>
                <input class="inputs-formulario" id="senha_cadastro" type="password" placeholder="Insira sua senha" required>
                <span class="titulos-confirmar-senha" >Confirmar senha</span>
                <input class="inputs-formulario" id="confirma_senha" type="password" placeholder="Confirme sua senha" required>
                <button class="botao-cadastrar" type="submit" id="botao_cadastrar">Cadastrar-se</button>
            </form>
            <p id="mensagem_erro_senha" class="msg-erro-password">Senha deve possuir mais de 6 caracteres e ao menos 1 letra maiúscula</p>
            <p id="mensagem_erro_confirmacao" class="msg-erro-confirm">A senha deve ser igual nos dois campos</p>
        </div>
    </section>

</body>

</html>

<script src="../js/cadastro.js"></script>