<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Iniciar Jornada</title>
</head>
<body>
    <img src="../img/professorCarvalho.webp" class="img-professor">

    <div class="caixa-dialogo">  
        <h1 class="nome-professor">Professor Carvalho</h1>

        <p id="fala_professor" class="fala-professor"><span id="frase1"></span> <br> <br>
            <span id="frase2"></span> <br> <br>
            <span id="frase3"></span> <br>
            <span id="frase4"></span> <br> <br>
            <span id="frase5"></span> <br>
            <span id="frase6"></span>
        </p>

        <button id="botao_cadastro" class="botao-cadastro">
            Fazer cadastro
        </button>
    </div>
</body>
</html>

<script src="../js/cadastro.js"></script>