<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="icon" href="/img/iconeSite.png">
</head>
<body>
    <img src="./img/pokemonLogo.png" class="logo-pokemon">
    <h1 class="titulo-projeto">SHINY MASTERS</h1>

    <section class="sect-bottom">

        <div class="div-button">
        <button class="button-style" id="btn_start_journey">
            Iniciar jornada
        </button>
        <button class="space-button button-style" id="btn_continue_journey">
            Continuar sua jornada
        </button>
        <button class="space-button button-style" id="btn_site">
            Ir para o site
        </button>
        </div>
        <img src="./img/charizardShiny.png" class="charizard">
    </section>
</body>
</html>

<script src="./js/index.js"></script>