<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/insignias.css">
</head>
<body>
    <div class="navbar-div">
        <img class="img-profile" src="/img/charizardShiny.png" alt="">
        <button class="btn-navbar" id="btn_profile">
            Perfil
        </button>

        <button class="btn-navbar">
            Insígnias
        </button>

        <button class="btn-navbar" id="btn_box">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 class="page-title">INSÍGNIAS</h1>

    <div class="page-content"></div>
</body>
</html>

<script src="/js/shinyBox/insignias.js"></script>