<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insígnias</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/insignias.css">
    <link rel="icon" href="/img/iconeSite.png">
</head>
<body>
    <div class="navbar-div">
        <img id="img_profile" class="img-profile" src="" alt="">
        <button class="btn-navbar" id="btn_profile">
            Perfil
        </button>

        <button class="btn-navbar">
            Insígnias
        </button>

        <button class="btn-navbar" id="btn_box">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 id="page_title" class="page-title">INSÍGNIAS</h1>

    <section class="page-content">
        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnia de Shiny Master</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_master_text" class="progress-bar-text"></div>
                <div id="progress_bar_master" class="progress-bar-live"></div>
            </div>
            <img id="master_badge" class="master-badge" src="/img/insignias/pokebolas/masterBall.png">
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Campeão</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_champion_text" class="progress-bar-text"></div>
                <div id="progress_bar_champion" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="champion_badge1" class="master-badge" src="/img/insignias/pokebolas/pokeBall.png">
            <img id="champion_badge2" class="master-badge" src="/img/insignias/pokebolas/greatBall.webp">
            <img id="champion_badge3" class="master-badge" src="/img/insignias/pokebolas/ultraBall.png">
            <img id="champion_badge4" class="master-badge" src="/img/insignias/pokebolas/luxuryBall.png">
            <img id="champion_badge5" class="master-badge" src="/img/insignias/pokebolas/timerBall.png">
            <img id="champion_badge6" class="master-badge" src="/img/insignias/pokebolas/quickBall.webp">
            <img id="champion_badge7" class="master-badge" src="/img/insignias/pokebolas/duskBall.png">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Kanto</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_kanto_text" class="progress-bar-text"></div>
                <div id="progress_bar_kanto" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="kanto_badge1" class="master-badge" src="/img/insignias/kanto/brock.webp">
            <img id="kanto_badge2" class="master-badge" src="/img/insignias/kanto/misty.webp">
            <img id="kanto_badge3" class="master-badge" src="/img/insignias/kanto/ltSurge.webp">
            <img id="kanto_badge4" class="master-badge" src="/img/insignias/kanto/erika.webp">
            <img id="kanto_badge5" class="master-badge" src="/img/insignias/kanto/koga.webp">
            <img id="kanto_badge6" class="master-badge" src="/img/insignias/kanto/sabrina.webp">
            <img id="kanto_badge7" class="master-badge" src="/img/insignias/kanto/blaine.webp">
            <img id="kanto_badge8" class="master-badge" src="/img/insignias/kanto/giovanni.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Johto</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_johto_text" class="progress-bar-text"></div>
                <div id="progress_bar_johto" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="johto_badge1" class="master-badge" src="/img/insignias/johto/falkner.webp">
            <img id="johto_badge2" class="master-badge" src="/img/insignias/johto/bugsy.webp">
            <img id="johto_badge3" class="master-badge" src="/img/insignias/johto/whitney.webp">
            <img id="johto_badge4" class="master-badge" src="/img/insignias/johto/morty.webp">
            <img id="johto_badge5" class="master-badge" src="/img/insignias/johto/chuck.webp">
            <img id="johto_badge6" class="master-badge" src="/img/insignias/johto/jasmine.webp">
            <img id="johto_badge7" class="master-badge" src="/img/insignias/johto/pryce.webp">
            <img id="johto_badge8" class="master-badge" src="/img/insignias/johto/clair.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Hoenn</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_hoenn_text" class="progress-bar-text"></div>
                <div class="progress-bar-text"></div>
                <div id="progress_bar_hoenn" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="hoenn_badge1" class="master-badge" src="/img/insignias/hoenn/roxanne.webp">
            <img id="hoenn_badge2" class="master-badge" src="/img/insignias/hoenn/brawly.webp">
            <img id="hoenn_badge3" class="master-badge" src="/img/insignias/hoenn/wattson.webp">
            <img id="hoenn_badge4" class="master-badge" src="/img/insignias/hoenn/flannery.webp">
            <img id="hoenn_badge5" class="master-badge" src="/img/insignias/hoenn/norman.webp">
            <img id="hoenn_badge6" class="master-badge" src="/img/insignias/hoenn/winona.webp">
            <img id="hoenn_badge7" class="master-badge" src="/img/insignias/hoenn/tateOuIza.webp">
            <img id="hoenn_badge8" class="master-badge" src="/img/insignias/hoenn/wallace.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Sinnoh</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_sinnoh_text" class="progress-bar-text"></div>
                <div id="progress_bar_sinnoh" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="sinnoh_badge1" class="master-badge" src="/img/insignias/sinnoh/roark.webp">
            <img id="sinnoh_badge2" class="master-badge" src="/img/insignias/sinnoh/gardenia.webp">
            <img id="sinnoh_badge3" class="master-badge" src="/img/insignias/sinnoh/maylene.webp">
            <img id="sinnoh_badge4" class="master-badge" src="/img/insignias/sinnoh/crasherWake.webp">
            <img id="sinnoh_badge5" class="master-badge" src="/img/insignias/sinnoh/fantina.webp">
            <img id="sinnoh_badge6" class="master-badge" src="/img/insignias/sinnoh/byron.webp">
            <img id="sinnoh_badge7" class="master-badge" src="/img/insignias/sinnoh/candice.webp">
            <img id="sinnoh_badge8" class="master-badge" src="/img/insignias/sinnoh/volkner.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Unova</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_unova_text" class="progress-bar-text"></div>
                <div id="progress_bar_unova" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="unova_badge1" class="master-badge" src="/img/insignias/unova/chili.webp">
            <img id="unova_badge2" class="master-badge" src="/img/insignias/unova/lenora.webp">
            <img id="unova_badge3" class="master-badge" src="/img/insignias/unova/burgh.webp">
            <img id="unova_badge4" class="master-badge" src="/img/insignias/unova/elesa.webp">
            <img id="unova_badge5" class="master-badge" src="/img/insignias/unova/clay.webp">
            <img id="unova_badge6" class="master-badge" src="/img/insignias/unova/skyla.webp">
            <img id="unova_badge7" class="master-badge" src="/img/insignias/unova/brycen.webp">
            <img id="unova_badge8" class="master-badge" src="/img/insignias/unova/iris.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Kalos</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_kalos_text" class="progress-bar-text"></div>
                <div id="progress_bar_kalos" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="kalos_badge1" class="master-badge" src="/img/insignias/kalos/viola.webp">
            <img id="kalos_badge2" class="master-badge" src="/img/insignias/kalos/grant.webp">
            <img id="kalos_badge3" class="master-badge" src="/img/insignias/kalos/korrina.webp">
            <img id="kalos_badge4" class="master-badge" src="/img/insignias/kalos/ramos.webp">
            <img id="kalos_badge5" class="master-badge" src="/img/insignias/kalos/clemont.webp">
            <img id="kalos_badge6" class="master-badge" src="/img/insignias/kalos/valerie.webp">
            <img id="kalos_badge7" class="master-badge" src="/img/insignias/kalos/olympia.webp">
            <img id="kalos_badge8" class="master-badge" src="/img/insignias/kalos/wulfric.webp">
        </div>
        </div>

        <div class="shiny-master-badge">
            <h1 class="badge-title">Insígnias de Galar</h1>
            <div class="progress-bar-container">
                <div id="progress_bar_galar_text" class="progress-bar-text"></div>
                <div id="progress_bar_galar" class="progress-bar-live"></div>
            </div>
        <div class="badges-container">
            <img id="galar_badge1" class="master-badge" src="/img/insignias/galar/milo.webp">
            <img id="galar_badge2" class="master-badge" src="/img/insignias/galar/nessa.webp">
            <img id="galar_badge3" class="master-badge" src="/img/insignias/galar/kabu.webp">
            <img id="galar_badge4" class="master-badge" src="/img/insignias/galar/bea.webp">
            <img id="galar_badge5" class="master-badge" src="/img/insignias/galar/opal.webp">
            <img id="galar_badge6" class="master-badge" src="/img/insignias/galar/melony.webp">
            <img id="galar_badge7" class="master-badge" src="/img/insignias/galar/piers.webp">
            <img id="galar_badge8" class="master-badge" src="/img/insignias/galar/raihan.webp">
        </div>
        </div>
    </section>
</body>
</html>

<script src="/js/shinyBox/insignias.js"></script>