<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detetive</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/loginNaoEncontrado.css">
    <link rel="icon" href="/img/iconeSite.png">
</head>
<body>
    <div class="error-box">
        <h1 class="name-detective">Detetive Pikachu</h1>

        <p id="pikachu_text" class="pikachu-text">
            <span id="phrase1" class="phrase"></span> <br>
            <span id="phrase2" class="phrase"></span> <br>
            <span id="phrase3" class="phrase"></span> <br> <br>
            <span id="phrase4" class="phrase"></span>
        </p>

        <div class="btn-box">
            <button id="register_btn" class="btn">
                Cadastro
            </button>

            <button id="login_btn" class="btn">
                Login
            </button>
        </div>
    </div>
</body>
</html>

<script src="/js/loginNaoEncontrado.js"></script>