<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="div-principal">
        <h1 class="title-login">Login</h1>
    <form class="form-login" id="form_login">
        <span class="title-email">Email</span>
        <input class="inputs" id="ipt_email" type="email" required>
        <span class="title-password">Senha</span>
        <input class="inputs" id="ipt_password" type="password" required>
        <button type="submit" class="login-btn" id="btn_login">
            Login
        </button>
    </form>
    </div>
</body>
</html>

<script src="../js/login.js"></script>