<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/perfil.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
" rel="stylesheet">
<link rel="icon" href="/img/iconeSite.png">
</head>
<body>
    <div id="all_content">
    <div class="navbar-div">
        <img id="img_profile" class="img-profile" src="" alt="">
        <button class="btn-navbar">
            Perfil
        </button>

        <button class="btn-navbar" id="btn_badges">
            Insígnias
        </button>

        <button class="btn-navbar" id="btn_box">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 class="page-title" id="page_title">PERFIL</h1>

    <div class="page-content" id="page_content">
        <div id="total_pokemon" class="catched-pkmn"></div>
        <div id="total_badges_region" class="catched-pkmn"></div>
        <div id="total_badges_champion" class="catched-pkmn"></div>
        
        
        <button id="professor_analysis" class="button-content">
            Análise do professor
        </button>
        
        <button class="button-content" id="alter_img_btn">
            Alterar imagem de perfil
        </button>
        
        <button id="delete_user_button" class="button-content">
            Deletar a conta
        </button>
    </div>
    <canvas id="graphic1" style="width: 29vw; height: 44vh;" class="graphic1"></canvas>
    <canvas id="graphic2" style="width: 29vw; height: 44vh;" class="graphic2"></canvas>
</div>

    <section id="section_professor_analysis" class="section-professor-analysis">
        <img src="../img/professorCarvalho.webp" class="img-professor" id="img_professor">

        <div class="dialogue-container" id="dialogue_container">
            <h1 class="professor-name">Professor Carvalho</h1>

            <p id="professor_text" class="professor-text">
                <span id="phrase1"></span> <br> <br>
                <span id="phrase2"></span> <br>
                <span id="phrase3"></span> <br> <br>
                <span id="phrase4"></span> <br> <br>
                <span id="phrase5"></span> <br>
                <span id="phrase6"></span>
            </p>

            <button id="close_btn" class="close-btn">
                Entendido
            </button>
        </div>
    </section>

    <section id="section_profile_images" class="section-profile-images">
        <button id="close_img_profile" class="close-img-profile">Fechar</button>
        <div id="profile_images" class="profile-images"></div>
    </section>

</body>
</html>

<script src="/js/shinyBox/perfil.js"></script>