<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/perfil.css">
</head>
<body>
    <div class="navbar-div">
        <img class="img-profile" src="/img/charizardShiny.png" alt="">
        <button class="btn-navbar">
            Perfil
        </button>

        <button class="btn-navbar" id="btn_badges">
            Insígnias
        </button>

        <button class="btn-navbar" id="btn_box">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 class="page-title">PERFIL</h1>

    <div class="page-content">
        <div id="total_pokemon" class="catched-pkmn">
            Pokémon shiny capturados: 151
        </div>
        
        <button>
            Alterar imagem de perfil
        </button>

        <button>
            Deletar a conta
        </button>
    </div>
</body>
</html>

<script src="/js/shinyBox/perfil.js"></script>