<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiny Box</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/box.css">
    <link rel="icon" href="/img/iconeSite.png">
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css
" rel="stylesheet">
</head>
<body>
    <div class="navbar-div">
        <img id="img_profile" class="img-profile" src="" alt="">
        <button class="btn-navbar" id="btn_profile">
            Perfil
        </button>

        <button class="btn-navbar" id="btn_badges">
            Insígnias
        </button>

        <button class="btn-navbar">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 class="page-title">Shiny Box</h1>

    <section class="page-content">
        <div class="div-register-pokemon">
            <input id="ipt_insert_pokemon" class="ipt-insert-pokemon" type="text" placeholder="Digite o nome do Pokémon">
            <button id="btn_insert_pokemon" class="btn-insert-pokemon" >Adicionar Pokémon</button>
        </div>
        <details class="region-box">
            <summary class="region-title">Box de Kanto</summary>
            <div id="box_kanto"></div>
    </details>

        <details class="region-box">
            <summary class="region-title">Box de Johto</summary>
            <div id="box_johto"></div>
        </details>

        <details class="region-box">
            <summary class="region-title">Box de Hoenn</summary>
            <div id="box_hoenn"></div>
        </details>

        <details class="region-box">
            <summary class="region-title">Box de Sinnoh</summary>
            <div id="box_sinnoh"></div>
        </details>

        <details class="region-box">
            <summary class="region-title">Box de Unova</summary>
            <div id="box_unova"></div>
        </details>

        <details class="region-box">
            <summary class="region-title">Box de Kalos</summary>
            <div id="box_kalos"></div>
        </details>

        <details class="region-box">
            <summary class="region-title">Box de Galar</summary>
            <div id="box_galar"></div>
        </details>
    </section>
</body>
</html>

<script src="/js/shinyBox/box.js"></script>