<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/shinyBox/box.css">
</head>
<body>
    <div class="navbar-div">
        <img class="img-profile" src="/img/charizardShiny.png" alt="">
        <button class="btn-navbar" id="btn_profile">
            Perfil
        </button>

        <button class="btn-navbar" id="btn_badges">
            Insígnias
        </button>

        <button class="btn-navbar">
            Shiny Box
        </button>

        <button class="btn-navbar" id="btn_log_out">
            Sair
        </button>
    </div>

    <h1 class="page-title">Shiny Box</h1>

    <section class="page-content">
        <div class="region-box">
            <h1 class="region-title">Box de Kanto</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Johto</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Hoenn</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Sinnoh</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Unova</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Kalos</h1>
        </div>

        <div class="region-box">
            <h1 class="region-title">Box de Galar</h1>
        </div>
    </section>
</body>
</html>

<script src="/js/shinyBox/box.js"></script>