@font-face {
    font-family: titles;
    src: url(/fonts/Burbank\ Big\ Condensed\ Bold.otf);
}

body {
    background-image: url(/img/backgroundSite.webp);
    background-size: cover;
}

.navbar-div {
    position: fixed;
    height: 100vh;
    width: 15%;
    background-color: rgb(128, 128, 128, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
}

.btn-navbar {
    width: 100%;
    height: 60px;
    font-family: titles;
    font-size: 24px;
    border: solid 3px black;
    background-color: white;
    cursor: pointer;
    transition: font-size 0.6s;
}

.btn-navbar:hover{
    font-size: 32px
}

.img-profile {
    width: 150px;
}

.page-title {
    position: absolute;
    color: white;
    font-family: titles;
    font-size: 86px;
    margin-left: 50%;
    margin-top: 2vh;
}

.page-content {
    position: absolute;
    height: 70vh;
    width: 70%;
    margin-left: 22.5%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.catched-pkmn {
    font-family: titles;
    color: white;
    font-size: 40px;
}

.button-content{
    width: 300px;
    height: 60px;
    font-family: titles;
    font-size: 24px;
    border: solid 3px black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: font-size 0.6s;
}

.button-content:hover{
    font-size: 32px
}

.graphic1 {
    position: absolute;
    margin-left: 16vw;
    margin-top: 55vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.graphic2 {
    position: absolute;
    margin-left: 70vw;
    margin-top: 55vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.section-professor-analysis {
    display: none;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(../../img/backgroundSite.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.dialogue-container {
    position: fixed;
    background-color: white;
    height: 40vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 50vh;
    border: solid 5px black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-professor {
    position: fixed;
    margin-top: 3vh;
    margin-left: 40%;
    width: 250px;
}

.professor-name {
    font-size: 30px;
    font-family: titles;
    align-self: start;
    margin-left: 5%;
    margin-top: 1%;
}

.professor-text {
    font-size: 20px;
    font-weight: bold;
}

.close-btn {
    display: none;
    position: absolute;
    align-self: end;
    margin-right: 5%;
    margin-top: 20%;
    height: 50px;
    width: 150px;
    background-color: white;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: font-size 0.6s;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

.close-btn:hover {
    font-size: 20px;
}